.command-body {
    padding: 20px;
}

.ckp-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.25rem;
    mat-form-field {
        width: 50%;
        padding: 2px 16px 7px;
    }
}